<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>tinyfs</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>EXAppExtensionAttributes</key>
	<dict>
		<key>EXExtensionPointIdentifier</key>
		<string>com.apple.fskit.fsmodule</string>
		<key>FSActivateOptionSyntax</key>
		<dict>
			<key>shortOptions</key>
			<string>g:m:o:u:</string>
		</dict>
		<key>FSCheckOptionSyntax</key>
		<dict>
			<key>shortOptions</key>
			<string>nqy</string>
		</dict>
		<key>FSFormatOptionSyntax</key>
		<dict>
			<key>shortOptions</key>
			<string>v</string>
		</dict>
		<key>FSMediaTypes</key>
		<dict/>
		<key>FSPersonalities</key>
		<dict>
			<key>TinyFSPersonality</key>
			<dict>
				<key>FSName</key>
				<string>TinyFS</string>
				<key>FSfileObjectsAreCaseSensitive</key>
				<true/>
			</dict>
		</dict>
		<key>FSRequiresSecurityScopedPathURLResources</key>
		<false/>
		<key>FSShortName</key>
		<string>TinyFS</string>
		<key>FSSupportsBlockResources</key>
		<true/>
		<key>FSSupportsGenericURLResources</key>
		<false/>
		<key>FSSupportsPathURLs</key>
		<false/>
		<key>FSSupportsServerURLs</key>
		<false/>
	</dict>
</dict>
</plist>
